{% extends 'layouts/base.html' %} {% load static %} {% block 'content' %}

<div
  class="container d-flex align-items-center justify-content-center flex-column"
>
  <h2 class="fw-bold text-center text-black-50 mb-3">Profile</h2>
  <div class="row p-0">
    <div class="col-md-9 w-100 card py-5 rounded-5 shadow-sm">
      <div class="w-100">
        <div class="w-100 d-flex align-items-center justify-content-center">
          <div style="width: 120px; height: 120px; border-radius: 50%">
            <img
              src = "{{image_url}}" width="100" height="100"
              alt="userImage"
              class="rounded-circle"
            />
          </div>
        </div>

        <div
          class="w-100 pt-3 d-flex flex-column align-items-center justify-content-center"
        >
          <p class="fw-bold">
            Name:
            <span class="fw-normal"
              >{{user.first_name}} {{user.last_name}}</span
            >
          </p>
          <p class="fw-bold">
            Username: <span class="fw-normal">{{user.username}}</span>
          </p>
          <p class="fw-bold">
            Email: <span class="fw-normal">{{user.email}}</span>
          </p>
          <p class="fw-bold">
            Mobile number: <span class="fw-normal">{{user.phone_number}}</span>
          </p>
          {% if user.country != 'Default' %}
          <p class="fw-bold">
            Country: <span class="fw-normal">{{user.country}}</span>
          </p>
          {% endif %}
          
          {% if user.facebook != 'Default' %}
          <p class="fw-bold">
            Facebook: <span class="fw-normal">{{user.facebook}}</span>
          </p>
          {% endif %}

          {% if user.birth_date != now|date:"m/d/Y" %}
          <p class="fw-bold">
           Birthdate: <span class="fw-normal">{{ user.birth_date }}</span>
          </p>
          {% endif %}

        </div>

        <div class="w-100">
          <a class="btn btn-light shadow-sm m-3 fw-bold text-black-50" href="{% url 'user_projects' %}">
            View projects
          </a>
          <a class="btn btn-light shadow-sm m-3 fw-bold text-black-50" href="#">
            View Donations
          </a>
          <a
            class="btn btn-light shadow-sm m-3 fw-bold text-black-50"
            href="{% url 'edit_profile' %}"
          >
            Edit profile
          </a>
          <a
            class="btn btn-light shadow-sm m-3 fw-bold text-black-50"
            onclick="confirmDelete()"
            href="#"
          >
            Delete profile
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function confirmDelete() {
    if (confirm("Are you sure you want to delete your profile?")) {
      window.location.href = "{% url 'delete_profile' %}";
    }
  }
</script>

{% endblock %}
