{% extends 'layouts/base.html' %} {% load static %} {% block 'content' %}

<div class="container-fluid">
  <h2 class="fw-bold text-center text-black-50 mb-3">All Donations</h2>

  <div class="container p-0 d-flex justify-content-center">
    <div class="row mb-4">
      {% for donation in user_donations %}
      <div class="col-md-4">
        <div
          class="card m-2 pt-4 pb-4 text-center shadow-sm rounded-5 mb-4"
          style="width: 20rem"
        >
          <p class="fw-bold p-0 mb-1">
            Project name:
            <span class="fw-normal">{{donation.project_details.title}}</span>
          </p>
          <p class="m-0 p-0 fw-bold mb-1">
            Donation Amount:
            <span class="fw-normal">{{donation.amount}} EGP</span>
          </p>
        </div>
      </div>
      {% empty %}
      <div class="col">
        <h2 class="fw-bold text-center my-3 text-black-50">
          No donations found
        </h2>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
