{% extends 'layouts/base.html' %} {% load static %} {% block 'content' %}
<div class="container-fluid p-0" style="margin-top: -15px">
  <div class="row justify-content-center p-0 position-relative">
    <div class="position-absolute" style="top: 35%; width: 400px">
      <h1 class="fw-bold text-center text-black-50">
        Welcome to our fundraising app!
      </h1>
    </div>
    <div class="p-0">
      <img
        src="{% static 'projects/images/bg2.jpg' %}"
        class="img-fluid"
        alt="Background_image"
      />
    </div>
  </div>

  <div class="container">
    <div class="row my-4">
      <form method="post" action="{% url 'project_search' %}">
        {% csrf_token %}
        <div class="d-flex align-items-center justify-content-between">
          <input
            class="form-control px-3 my-4"
            type="text"
            name="search"
            id="search"
            placeholder="Search.."
            style="width: 90%"
          />
          <button
            class="btn btn-light shadow-sm fw-bold text-black-50"
            type="submit"
          >
            Search
          </button>
        </div>
      </form>
      <h4 class="fw-bold text-black-50">Top Rated Projects:</h4>
      <div
        id="topProjectsCarousel"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner px-5">
          {% for project in top_projects %}
          <div
            class="carousel-item px-5 {% if forloop.first %}active{% endif %}"
          >
            <div
              class="card m-2 pt-4 pb-4 text-center shadow-sm rounded-5"
              style="width: 18rem"
            >
              <img
                src="{{ project.image_url }}"
                class="img-fluid mx-auto rounded-3"
                alt="project_image"
                width="180px"
                height="230px"
              />
              <div class="card-body pb-0">
                <p class="fw-bold p-0 mb-1">
                  Project name: <span class="fw-normal">{{project.title}}</span>
                </p>
                <p class="fw-bold p-0 mb-1">
                  Category:
                  <span class="fw-normal">{{project.category.name}}</span>
                </p>
                <p class="m-0 p-0 fw-bold mb-1">
                  Total target:
                  <span class="fw-normal">{{project.total_target}} EGP</span>
                </p>
                <small>Created by {{project.creator}} </small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#topProjectsCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#topProjectsCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="row mb-4">
      <h4 class="fw-bold text-black-50 mb-3">Latest Projects:</h4>
      {% for project in latest_projects %}
      <div class="col-md-4">
        <a
          href="{% url 'project_show' project.id %}"
          class="text-black text-decoration-none"
        >
          <div
            class="card m-2 pt-4 pb-4 text-center shadow-sm rounded-5 mb-4"
            style="width: 20rem"
          >
            <img
              src="{{ project.image_url }}"
              width="180"
              height="230"
              class="img-fluid mx-auto rounded-3"
              alt="project_image"
            />
            <div class="card-body pb-0">
              <p class="fw-bold p-0 mb-1">
                Project name: <span class="fw-normal">{{project.title}}</span>
              </p>
              <p class="fw-bold p-0 mb-1">
                Category:
                <span class="fw-normal">{{project.category.name}}</span>
              </p>
              <p class="m-0 p-0 fw-bold mb-1">
                Total target:
                <span class="fw-normal">{{project.total_target}} EGP</span>
              </p>
              <small>Created by {{project.creator}} </small>
            </div>
          </div>
        </a>
      </div>
      {% empty %}
      <div class="col">
        <h2 class="fw-bold text-center my-3 text-black-50">
          No projects found
        </h2>
      </div>
      {% endfor %}
    </div>

    <div class="row mb-4">
      <h4 class="fw-bold text-black-50 mb-3">Categories:</h4>
      {% for category in categories %}
      <div class="col-md-3">
        <a
          href="{% url 'category_projects' category.id %}"
          class="text-black text-decoration-none"
        >
          <div
            class="col-4 card m-2 text-center shadow-sm rounded-5"
            style="width: 15rem"
          >
            <p class="fw-bold py-3 mb-1">
              Category:
              <span class="fw-normal">{{category.name}}</span>
            </p>
          </div>
        </a>
      </div>
      {% empty %}
      <h3 class="fw-bold text-center my-3 text-black-50">No Ctegories found</h3>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
