{% extends 'layouts/base.html' %} {% load static %} {% block 'content' %}
<div class="container">
  <div class="row">
    <h1 class="mb-4">{{ project.title }}</h1>
    <div class="col-md-8">
      <div id="carouselExampleIndicators" class="carousel slide">
        <ul class="carousel-indicators list-inline mx-auto px-2">
          {% for image in project.pictures.all %}
          <li class="list-inline-item {% if forloop.first %}active{% endif %}">
            <a
              id="carousel-selector-0"
              class="selected"
              data-bs-slide-to="{{forloop.counter0}}"
              data-bs-target="#carouselExampleIndicators"
            >
              <img src="{{image}}" class="rounded" width="50px" height="40px" />
            </a>
          </li>
          {% endfor %}
        </ul>

        <div class="carousel-inner">
          {% for image in project.pictures.all %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{image}}" class="d-block w-100 rounded" alt="..." />
          </div>
          {% endfor %}
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="d-flex flex-column gap-3 col-md-4">
      <div>
        <span class="fw-bold"> {{project.amount_raised}} EGP </span>
        <span> raised of {{project.total_target}} EGP target </span>
      </div>
      <div
        class="progress"
        style="background-color: #e6f6ef"
        role="progressbar"
        aria-label="progress"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          class="progress-bar bg-success"
          style="width: {{project.progress_percentage}}%;"
        >
          {{project.progress_percentage}}%
        </div>
      </div>
      <div>
        <span> {{project.donations.count}} donations </span>
      </div>
      {% if not project.fulfilled %}
      <p class="m-0 p-0 fw-bold mb-1">
        Remaining:
        <span class="fw-normal">{{project.remaining_amount}} EGP</span>
      </p>
      {% endif %} {% if user == project.creator and project.cancellable %}
      <button
        class="btn btn-sm btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#cancelProjectForm"
      >
        Cancel project
      </button>

      {% endif %} {% if project.fulfilled %}
      <div><h2>This project has reached its donation target!</h2></div>
      {% elif project.creator != user %}
      <button
        class="btn btn-sm btn-success"
        data-bs-toggle="modal"
        data-bs-target="#donateToProjectForm"
      >
        Donate
      </button>
      {% endif %}
      <p class="fw-bold p-0 mb-1">
        Category:
        <span class="fw-normal">{{project.category.name}}</span>
      </p>
      <p class="m-0 p-0 fw-bold mb-1">
        Tags:
        <span class="btn bg-body-secondary px-2 py-1 me-2"
          >{% for tag in project.tags.all %} {{tag}} {% endfor %}</span
        >
      </p>
      <p class="m-0 p-0 fw-bold mb-1">
        Campaign End Date:
        <span class="fw-normal">{{project.campaign_end_date}}</span>
      </p>
      <small
        >Created by {{project.creator}}. {{project.campaign_start_date}}
      </small>
    </div>
  </div>

  <div class="mb-4 card py-3 px-4">
    <h3 class="fw-bold text-black-50 mb-3">Ratings</h3>

    <div class="stars d-flex align-items-center mb-4">
      <form
        method="post"
        action="{% url 'rating_create' project.id %}"
        id="rating_form"
        class="d-flex justify-items-center"
      >
        {% csrf_token %}
        <input
          class="star star-5"
          id="star-5"
          type="radio"
          name="rating"
          value="5"
          {%
          if
          user_current_rating="5"
          %}
          checked
          {%
          endif
          %}
        />
        <label class="star star-5" for="star-5"></label>

        <input
          class="star star-4"
          id="star-4"
          type="radio"
          name="rating"
          value="4"
          {%
          if
          user_current_rating="4"
          %}
          checked
          {%
          endif
          %}
        />
        <label class="star star-4" for="star-4"></label>

        <input
          class="star star-3"
          id="star-3"
          type="radio"
          name="rating"
          value="3"
          {%
          if
          user_current_rating="3"
          %}
          checked
          {%
          endif
          %}
        />
        <label class="star star-3" for="star-3"></label>

        <input
          class="star star-2"
          id="star-2"
          type="radio"
          name="rating"
          value="2"
          {%
          if
          user_current_rating="2"
          %}
          checked
          {%
          endif
          %}
        />
        <label class="star star-2" for="star-2"></label>

        <input
          class="star star-1"
          id="star-1"
          type="radio"
          name="rating"
          value="1"
          {%
          if
          user_current_rating="1"
          %}
          checked
          {%
          endif
          %}
        />
        <label class="star star-1" for="star-1"></label>

        <button
          type="submit"
          class="btn btn-light shadow-sm fw-bold text-black-50 mx-3"
        >
          Submit Rating
        </button>
      </form>
    </div>

    {% for rating in ratings %}
    <span>{{ rating.user }}: {{ rating.rating }}/5</span>
    {% endfor %}
  </div>

  <div class="mb-4 card py-3 px-4">
    <h3 class="fw-bold text-black-50 mb-3">Reports</h3>
    <form action="{% url 'project.reportProject' project.id %}" method="post">
      <div class="d-flex align-items-center">
        {% csrf_token %} {{ reportProjectForm }}
        <button
          type="submit"
          class="btn btn-light shadow-sm fw-bold text-black-50 mx-3"
        >
          Report
        </button>
      </div>
    </form>
  </div>
  <div class="pt-5 mt-5">
    <h3 class="mb-5">{{project.comments.count}} Comments</h3>
    <ul class="d-flex flex-column gap-5 list-unstyled">
      {% for comment in comments %}
      <li class="d-flex gap-4">
        <div>
          <img
            src="/media/{{comment.author.user_image}}"
            class="rounded-circle"
            width="50px"
            height="50px"
            alt="{{comment.author}}"
          />
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="text-capitalize">{{comment.author.get_full_name}}</h5>
            <div class="d-flex gap-2">
              <span class="text-black-50">{{comment.created_at}}</span>
              {% if comment.comment_reports.count %}
              <span class="text-black-50">.</span>
              <a
                class="text-danger"
                href="#"
                class="btn btn-sm btn-warning"
                data-bs-toggle="modal"
                data-bs-target="#reportCommentshow-{{forloop.counter0}}"
                >{{comment.comment_reports.count}} reports</a
              >
              <div
                class="modal fade"
                id="reportCommentshow-{{forloop.counter0}}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Reports list
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      {% for report in comment.comment_reports.all %}
                      <div class="d-flex gap-4">
                        <div>
                          <img
                            src="/media/{{report.reporter.user_image}}"
                            class="rounded-circle"
                            width="30px"
                            height="30px"
                            alt="{{user.user_image}}"
                          />
                        </div>
                        <div class="d-flex flex-column">
                          <span class="text-capitalize fw-bold text-muted"
                            >{{report.reporter.get_full_name}}</span
                          >
                          <p class="">{{report.report_details}}</p>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    <div
                      class="modal-footer border-top-0 d-flex justify-content-center"
                    >
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            <p class="mt-3 text-muted">{{comment.content}}</p>
            <div class="d-flex gap-2">
              {% if user != comment.author %}
              <button
                type="submit"
                class="btn btn-sm btn-warning"
                data-bs-toggle="modal"
                data-bs-target="#reportCommentForm-{{forloop.counter0}}"
              >
                <i class="fa-solid fa-flag"></i>
                <span>Report</span>
              </button>

              <div
                class="modal fade"
                id="reportCommentForm-{{forloop.counter0}}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Report the comment
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <form
                      action="{% url 'project.reportComment' project.id comment.id %}"
                      method="post"
                    >
                      <div class="modal-body">
                        {% csrf_token %} {{ reportCommentForm.report_details }}
                      </div>
                      <div
                        class="modal-footer border-top-0 d-flex justify-content-center"
                      >
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button type="submit" class="btn btn-warning">
                          Send
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% endif %} {% if user == comment.author %}
              <button
                type="submit"
                class="btn btn-sm btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteCommentForm-{{forloop.counter0}}"
              >
                <i class="fa-solid fa-trash"></i>
                <span>Delete</span>
              </button>

              <div
                class="modal fade"
                id="deleteCommentForm-{{forloop.counter0}}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Delete the comment
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <form
                      action="{% url 'comment_delete' project.id comment.id %}"
                      method="get"
                    >
                      <div class="modal-body">
                        <p>are you sure ?</p>
                      </div>
                      <div
                        class="modal-footer border-top-0 d-flex justify-content-center"
                      >
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button type="submit" class="btn btn-danger">
                          Delete
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
      <li class="d-flex gap-4">
        <div>
          <img
            src="/media/{{user.user_image}}"
            class="rounded-circle"
            width="50px"
            height="50px"
            alt="{{user.user_image}}"
          />
        </div>
        <div>
          <h5 class="text-capitalize">{{user.get_full_name}}</h5>
          <form
            method="post"
            action="{% url 'project.newcomment' project.id %}"
          >
            <div class="d-flex align-items-center">
              {% csrf_token %} {{ newCommentForm.content }}
              <button
                type="submit"
                class="btn btn-light shadow-sm fw-bold text-black-50 mx-3"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Cancel Project Modal -->
<div
  class="modal fade"
  id="cancelProjectForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Cancel the project</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>are you sure ?</p>
      </div>
      <div class="modal-footer border-top-0 d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <a
          href="{% url 'project.cancel' project.id %}"
          class="btn btn-danger shadow-sm fw-bold"
          >Cancel project</a
        >
      </div>
    </div>
  </div>
</div>

 <!-- Donate modal -->
<div
  class="modal fade"
  id="donateToProjectForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Donate to the project</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        action="{% url 'project.donate' project.id %}"
        method="post"
      >
        <div class="modal-body">
            {% csrf_token %} {{DonationForm.amount}}
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-success">Donate</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll('input[name="rating"]').forEach((input) =>
    input.addEventListener("change", function () {
      document.getElementById("rating_form").submit();
    })
  );
</script>
{% endblock %}
