{% extends 'layouts/base.html' %} {% load static %} {% block 'content' %}
<div class="container">
  <h1>{{project.name}}</h1>
  <h4>Category:</h4>
  <div class="card mb-3" style="width: 18rem">
    <img
      src="{{project.image_url}}"
      width="300"
      height="300"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{project.no_of_pages}} Pages</h5>
      <h5 class="card-title">{{project.price}} EGP</h5>
    </div>
  </div>
  {% for image in project.pictures.all %}
  <img
    src="{{image}}"
    width="300"
    height="300"
    class="card-img-top"
    alt="..."
  />
  {% endfor %} {% for comment in comments %}
  <div>{{comment.author}}: {{comment.content}}</div>
  {% empty %}
  <p>No comments yet.</p>
  {% endfor %}
  <form method="post" action="{% url 'project.newcomment' project.id %}">
    <h3>Comment on this project.</h3>
    {% csrf_token %} {{ newCommentForm }}
    <button type="submit" class="btn btn-success my-3">Submit</button>
  </form>

  <div>
    <div class="d-flex flex-column">
    <h3>Project Ratings</h3>
    {% for rating in ratings %}
    <span>{{rating.user}}: {{rating.rating}}/5</span>
    {% empty %}
    <p>No ratings yet.</p>
    {% endfor %}      
    </div>

    
    <div class="stars d-flex alighn-items-cnter">
      <p>your rating: </p>
      <form
        method="post"
        action="{% url 'rating_create' project.id %}"
        id="rating_form"
        class="d-flex flex-row-reverse justify-content-end"
      >
        {% csrf_token %}
        <input
          class="star star-5"
          id="star-5"
          type="radio"
          name="rating"
          value="5"
          {% if user_current_rating == 5 %} checked {% endif %}
        />

        <label class="star star-5" for="star-5"></label>

        <input
          class="star star-4"
          id="star-4"
          type="radio"
          name="rating"
          value="4"
          {% if user_current_rating == 4 %} checked {% endif %}
        />

        <label class="star star-4" for="star-4"></label>

        <input
          class="star star-3"
          id="star-3"
          type="radio"
          name="rating"
          value="3"
          {% if user_current_rating == 3 %} checked {% endif %}
        />

        <label class="star star-3" for="star-3"></label>

        <input
          class="star star-2"
          id="star-2"
          type="radio"
          name="rating"
          value="2"
          {% if user_current_rating == 2 %} checked {% endif %}
        />

        <label class="star star-2" for="star-2"></label>

        <input
          class="star star-1"
          id="star-1"
          type="radio"
          name="rating"
          value="1"
          {% if user_current_rating == 1 %} checked {% endif %}
        />

        <label class="star star-1" for="star-1"></label>
      </form>
    </div>
    <a href="{% url 'project_list' %}">Back</a>
  </div>
</div>



<script>
  document.querySelectorAll('input[name="rating"]').forEach((input) =>
    input.addEventListener("change", function () {
      document.getElementById("rating_form").submit();
    })
  );
</script>
{% endblock %}
