{% extends 'layouts/base.html' %} {% load static %} {% block 'content' %}
<div class="container">
  <h1>{{project.name}}</h1>
  <h4>Category:</h4>
  <div class="card mb-3" style="width: 18rem">
    <img
      src="{{project.image_url}}"
      width="300"
      height="300"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{project.no_of_pages}} Pages</h5>
      <h5 class="card-title">{{project.price}} EGP</h5>
    </div>
  </div>
  {% for image in project.pictures.all %}
  <img
    src="{{image}}"
    width="300"
    height="300"
    class="card-img-top"
    alt="..."
  />
  {% endfor %}
  <a href="{% url 'project_list' %}">Back</a>
</div>
{% for comment in comments %}
  <div> {{comment.author}}: {{comment.content}} </div>
  {% empty %}
  <p>No comments yet.</p>
{% endfor %}
<form method="post" action="{% url 'project.newcomment' project.id %}">
  <H3>Comment on this project.</H3>
  {% csrf_token %}  {{ newCommentForm }}
  <button type="submit" class="btn btn-success my-3">Submit</button>
</form>
{% endblock %}
